.kic{
    margin: auto;
    text-align: center;
}
.body{
    width: 50%;
    margin: auto;
    margin-top: 50px;
    border: 1px solid black;
}
.h1{
    
    text-align: center;
    
}

.b{
    text-align: center;
}